.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#traffic-top{
    position: absolute;
    height: 200px;
    width: 20px;
    z-index: 10;
    top:-200px;
    background:black;
}

#container{
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

.light{
    width: 100px;
    height: 100px;
}

.red{
    background: red;
}

.yellow{
    background: yellow;
}

.green{
    background: green;
}

.selected{
    box-shadow: 2px 2px 50px 20px white;
}
